h1 {
    color: blue;
    font-size: 100px;
}

h2 {
    color: red;
    font-size: 75px;
}

h3 {
    color: black;
    font-size: 50px;
}

header {
    text-align: center;
}

sub {
    color: black;
    font-size: 50px;
    text-decoration: underline;
}


img {
    height: 550px;
    width: 500px;
    display: inline;
    padding: 50px;
    text-align: center;
}




