h1 {
    color: blue;
    font-size: 100px;
}

h2 {
    color: red;
    font-size: 75px;
}

h3 {
    color: black;
    font-size: 50px;
    text-indent: 1.5em;
}

header {
    text-align: center;
}

sub {
    color: black;
    font-size: 50px;
    text-decoration: underline;
}


a,
img {
    height: 550px;
    width: 475px;
    display: inline;
    padding: 25px;
    margin: 25px;
}




